/* -- ELEMENT STYLES -- */

body {  
  font-family: arial, helvetica, arial, sans-serif;
  font-size: 80%;
  color: #234163;
  background-color: #EEF3FA;
  margin: 30px;
  width: 48em;
}

a {
  color: #5A799D;
}

a:hover {
  text-decoration:none;
  background-color: #EEEEEE;
}

acronym {
  cursor: help;
  border-bottom: 1px dashed #AAAAAA;
}

img {
  border: 0px;
}

ul {
  list-style-image: url(../images/bullet.gif);  
}


/* -- MAIN CONTAINER -- */

#layoutBox {
  float: left;
  border: 1px solid #5A799D;
  background-color: #FFFFFF;
  padding: 10px;  
}


/* -- HEADER CONTAINER -- */

#headerBox {
  height: 4em;
  border: 1px solid #5A799D;
  background: #7897BB url(../images/hdr_bg.jpg) repeat-x bottom;
}

#headerLeftBox {
  float: left;
  width: 40%;
  height:4em;
  background: url(../images/hdr_left.jpg) no-repeat bottom left;
  text-align: right;
}

#headerRightBox {
  float: right;
  width: 40%;
  height: 4em;
  background: url(../images/hdr_right.jpg) no-repeat bottom right;
}
 
 
/* -- HEADER STYLES -- */

.title {
  font-family: times new roman, helvetica, arial, sans-serif;
  font-size: 280%;
  font-weight: bold;
  font-style: italic;
  color: #FFFFFF;
  line-height: 0.9em;
}

.subTitle {
  font-size: 90%;
  color: #5A799D;
}


/* -- MENU CONTAINER -- */

#menuBox {
  float: left;
  width: 15em;
  margin: 10px 0 0 0;
  border-right: 1px solid #5A799D;  
  text-align: left;
}

#menuBox p {
  margin: 5px 0 20px 2px;
}

#menuBox br {
  margin-top: 30px;
}


/* -- CONTENT CONTAINER -- */

#mainContent {
  margin: 10px 0 0 16em;
  border-left: 1px solid #5A799D;
}

#mainContent br {
  margin-top: 10px;
}

#mainContent p {
  padding: 0px 5px 2px 10px;
}

.spacer {
  height: 1px;
  clear: both;
}

/* Used by items meant for text only rendering */

.noDisplay {
  display: none;
}


/* -- HEADER/FOOTER STYLES (menuBox & mainContent) -- */

#mainContent h1, #menuBox h1, .menuFooter, .footer {
  font-family: times new roman, helvetica, arial, sans-serif;
  font-size: 125%;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #5A799D;
  background: #EEF3FA url(../images/hdr_icon.gif) no-repeat bottom right;
  border-top: 1px solid #5A799D;
  border-bottom: 1px solid #5A799D;  
  display: block; 
  padding: 2px 2px 2px 10px;
  margin: 0 0 10px 0;
}

#mainContent h1, .footer {
  border-right: 1px solid #5A799D;
} 

.menuFooter, .footer {
  margin-bottom: 0px;
}

#menuBox h1, .menuFooter {
  border-left: 1px solid #5A799D;
}

#mainContent h2, #menuBox h2 {
  font-size: 80%;
  font-weight: bold;
  background-color: #EEEEEE;
  display: block;
  padding: 0px 0px 0px 5px;
  margin-bottom: 0px;
}

#mainContent h2 {
  margin-left: 10px;
}

#mainContent h1, #mainContent h2, .footer {
  clear: right;  /* Set to both if you don't care about Internet Explorer */
}

.footer {
  font-family: arial, helvetica, arial, sans-serif;
  font-size: 80%;
  font-weight: normal;
  border-right: 1px solid #5A799D;
  border-left: 0px;
}

.footer a:hover {
  background-color: #D6E1F1;
}

.footer br {
  margin: -20px;
}


/* -- MENU/NEWS ITEM STYLES -- */

.newsGroup {
  padding: 0px 5px 0px 5px;
  margin-bottom: 30px;
}

.menuGroup {
  padding: 5px 0 5px 0;
  margin-bottom: 30px;
}

.menuGroup a {
  color: #35567C;
  text-indent: 3em;
  text-decoration: none;
  margin-bottom: 2px;
  display: block;  
}

.menuGroup a:hover {
  color: #FFFFFF;
  background-color: #5A799D;
}

/* -- IMAGE STYLES -- */

.imgRight, .imgLeft {
  padding: 10px 5px 5px 10px;
  border: 1px solid #FFFFFF;
}

.imgRight {
  float: right;
}

/* Below style will not work correctly unless clear = "both" on the
   #mainContent h1, #mainContent h2, .footer class */

.imgLeft {
  float: left;
}

/* -- MARQUEE 样式 -- */
.marquee {
  position: relative;
  height: 210px; /* 区域高度 */
  background-color: #FFFFFF;
  border: 1px solid #aaaaaa00;
  padding: 5px;
  margin: 5px;
}

.marquee ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
}

.marquee li {
  position: absolute;
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.marquee li a {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #5A799D; /* 圆点颜色 */
  border-radius: 40%; /* 圆形 */
  text-decoration: none;
  position: relative; /* 确保伪类相对于 a 定位 */
}

/* 鼠标悬停时显示文字 */
.marquee li a::after {
  content: attr(data-week); /* 读取 data-week 属性值 */
  position: absolute;
  bottom: 60%; /* 相对位置 */
  left: 60%;
  transform: translateX(5%);
  background-color: #FFFFFF; /* 背景色 */
  font-family: arial, helvetica, arial, sans-serif;
  color: #234163; /* 文字颜色 */
  padding: 1px 1px;
  font-size: 12px;
  border: 1px solid #aaaaaa00;
  border-radius: 0px;
  white-space: nowrap;
  display: none; 
}

.marquee li a:hover::after {
  display: block; 
}

.marquee ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.marquee li:nth-child(1) { top: 0%; left: 18%; }
.marquee li:nth-child(2) { top: 5%; left: 55%; }
.marquee li:nth-child(3) { top: 30%; left: 40%; }
.marquee li:nth-child(4) { top: 40%; left: 93%; }
.marquee li:nth-child(5) { top: 50%; left: 35%; }
.marquee li:nth-child(6) { top: 95%; left: 42% }
.marquee li:nth-child(7) { top: 66%; left: 84%; }
.marquee li:nth-child(8) { top: 80%; left: 12%; }
.marquee li:nth-child(9) { top: 95%; left: 74%; }
.marquee li:nth-child(10) { top: 25%; left: 10%; }
.marquee li:nth-child(11) { top: 35%; left: 60%; }
.marquee li:nth-child(12) { top: 45%; left: 1%; }
.marquee li:nth-child(13) { top: 55%; left: 66%; }
.marquee li:nth-child(14) { top: 95%; left: 42%; }
.marquee li:nth-child(15) { top: 90%; left: 80%; }
.marquee li:nth-child(16) { top: 95%; left: 74%; }